<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARQEHGP9vLsPRcIZyGSjPU-XZQnox0cjo</string>
	<key>GCM_SENDER_ID</key>
	<string>137970579281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyJobPark.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-18c5a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-18c5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137970579281:ios:e5e35c41127dc897244570</string>
</dict>
</plist>